# Lecture - Pandas basics

- pandas.Series
- pandas.DataFrame
- read_csv
- indexing
- plotting

## Pandas Series

- can create from dictionary
- can create from list
- can create from np.array

In [45]:
import pandas as pd

programs_dict = dict(AI = 26, NET = 38 , Java = 30, UX = 28)

programs_series = pd.Series(programs_dict)

programs_series

AI      26
NET     38
Java    30
UX      28
dtype: int64

In [46]:
# Extract values through indexing
print(f"{programs_series[0] = }")
print(f"{programs_series[-1] = }")

print(f"{programs_series['UX'] = }")

# Get keys
print(f"{programs_series.keys() = }")
print(f"{programs_series.keys()[0] = }")

programs_series[0] = 26
programs_series[-1] = 28
programs_series['UX'] = 28
programs_series.keys() = Index(['AI', 'NET', 'Java', 'UX'], dtype='object')
programs_series.keys()[0] = 'AI'

In [47]:
import random as rnd

# For reproducibility - gets same set of values
rnd.seed(1337)

dices_series = pd.Series([rnd.randint(1,6) for _ in range(10)])
dices_series.head() # Inspects the five first rows

0    5
1    5
2    6
3    3
4    5
dtype: int64

In [48]:
dices_series

0    5
1    5
2    6
3    3
4    5
5    5
6    6
7    2
8    3
9    4
dtype: int64

In [49]:
print(f"{dices_series.min() = }")
print(f"{dices_series.argmin() = }") # Gives index for min value
print(f"{dices_series.max() = }")
print(f"{dices_series.mean() = }") # Average
print(f"{dices_series.median() = }") # Sort all values in order - pick the middle one, if middle are 2 numbers calculate average of them

dices_series.min() = 2
dices_series.argmin() = 7
dices_series.max() = 6
dices_series.mean() = 4.4
dices_series.median() = 5.0

---
## DataFrame

- tabular data with rows and columns
- analog to 2D numpy arrays with flexible row indices and col names
- "specialized" dictionary with col name mapped to a Series object

In [50]:
# Instansiated a DataFrame form a Series object
df_programs = pd.DataFrame(programs_series, columns=("Number_of_students",))
df_programs

      Number_of_students
AI                    26
NET                   38
Java                  30
UX                    28

In [51]:
# Create 2 Series object
students = pd.Series({"AI": 26, "NET": 38, "UX": 28, "Java": 30})
skills = pd.Series({"AI": "Python", "NET": "C#", "UX": "Figma", "Java": "Java"})

# Create a DataFrame from 2 Series objects
df_programs = pd.DataFrame({"Students": students, "Skills": skills })
df_programs

      Students  Skills
AI          26  Python
NET         38      C#
UX          28   Figma
Java        30    Java

In [52]:
df_programs["Students"]

AI      26
NET     38
UX      28
Java    30
Name: Students, dtype: int64

In [53]:
df_programs["Students"].mean(), (26+30+38+28)/4

(30.5, 30.5)

In [54]:
median_student_number = df_programs["Students"].median()
print(f"Median students in the programs {df_programs.index.to_list()} is {median_student_number:.0f}")

Median students in the programs ['AI', 'NET', 'UX', 'Java'] is 29

In [55]:
df_programs

      Students  Skills
AI          26  Python
NET         38      C#
UX          28   Figma
Java        30    Java

In [56]:
df_programs["Skills"]

AI      Python
NET         C#
UX       Figma
Java      Java
Name: Skills, dtype: object

In [57]:
df_programs["Skills"][0], df_programs["Skills"]["AI"], df_programs["Skills"]["UX"]

('Python', 'Python', 'Figma')

## Indexers

- loc - slicing and indexing using explicit index
- iloc - slicing and indexing using Python-style index

In [58]:
df_programs

      Students  Skills
AI          26  Python
NET         38      C#
UX          28   Figma
Java        30    Java

In [59]:
df_programs.loc["AI"] # Returns a Series object

Students        26
Skills      Python
Name: AI, dtype: object

In [60]:
df_programs.loc["Java"]

Students      30
Skills      Java
Name: Java, dtype: object

In [66]:
df_programs.loc[["AI", "UX"]]

    Students  Skills
AI        26  Python
UX        28   Figma

In [61]:
df_programs.iloc[1:3] # Returns a DataFrame object

     Students Skills
NET        38     C#
UX         28  Figma

## Masking

In [62]:
df_programs

      Students  Skills
AI          26  Python
NET         38      C#
UX          28   Figma
Java        30    Java

In [63]:
df_programs["Students"] >= 30

AI      False
NET      True
UX      False
Java     True
Name: Students, dtype: bool

In [64]:
# Using masking to filter the DataFrame
df_programs_over_29 = df_programs[df_programs["Students"] >= 30]
df_programs_over_29

      Students Skills
NET         38     C#
Java        30   Java

In [65]:
df_programs

      Students  Skills
AI          26  Python
NET         38      C#
UX          28   Figma
Java        30    Java

---
## Excel data

In [67]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel("../Data/calories.xlsx")
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FoodCategory      2225 non-null   object
 1   FoodItem          2225 non-null   object
 2   per100grams       2225 non-null   object
 3   Cals_per100grams  2225 non-null   object
 4   KJ_per100grams    2225 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB

In [69]:
df.shape

(2225, 5)

In [72]:
# Liquid food and solid food
df["FoodCategory"].unique()

array(['CannedFruit', 'Fruits', 'Tropical&ExoticFruits', 'PotatoProducts',
       'Vegetables', 'FastFood', 'Pizza', 'Cheese', 'CreamCheese',
       'Milk&DairyProducts', 'SlicedCheese', 'Yogurt', 'Beef&Veal',
       'ColdCuts&LunchMeat', 'Meat', 'Offal&Giblets', 'Pork',
       'Poultry&Fowl', 'Sausage', 'Venison&Game', 'Cakes&Pies',
       'Candy&Sweets', 'IceCream', '(Fruit)Juices',
       'AlcoholicDrinks&Beverages', 'Beer',
       'Non-AlcoholicDrinks&Beverages', 'Soda&SoftDrinks', 'Wine',
       'CerealProducts', 'Oatmeal,Muesli&Cereals', 'Pasta&Noodles',
       'Dishes&Meals', 'Soups', 'Legumes', 'Nuts&Seeds', 'Oils&Fats',
       'VegetableOils', 'BakingIngredients', 'Fish&Seafood',
       'Herbs&Spices', 'Pastries,Breads&Rolls', 'Sauces&Dressings',
       'Spreads'], dtype=object)

In [73]:
df["per100grams"].unique()

array(['100g', '100ml'], dtype=object)

## Data cleaning and explorations

- type convert string objects with numerical values to int
- change column names
- separate into liquids and solids

In [74]:
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

In [76]:
# Renaming columns
df = df.rename(
    dict(Cals_per100grams = "Calories", KJ_per100grams = "kJ", per100grams = "per100"),
    axis = "columns"
    )

df.head()

  FoodCategory             FoodItem per100 Calories      kJ
0  CannedFruit           Applesauce   100g   62 cal  260 kJ
1  CannedFruit      Canned Apricots   100g   48 cal  202 kJ
2  CannedFruit  Canned Blackberries   100g   92 cal  386 kJ
3  CannedFruit   Canned Blueberries   100g   88 cal  370 kJ
4  CannedFruit      Canned Cherries   100g   54 cal  227 kJ